* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBarContainer {
  color: white;
  position: fixed;
}
.navbar {
  background-color: #153239;
  background-image: linear-gradient(
    43deg,
    #153239 10%,
    #153239 46%,
    #318683 100%
  );
  color: white;
}

.container-fluid a {
  color: white;
}
.container-fluid .logoContainer {
  width: 20%;
  padding: 5px 30px;
}

.container-fluid .logoContainer img {
  width: 70%;
}

.navbar-nav {
  font-size: 1.3rem;
  display: flex;
  gap: 35px;
}

/* ----------- */

#firstContainer {
  height: 100vh;
  width: 100wv;
  /* border: 2px solid red; */
  display: flex;
  background-color: #153239;
  background-image: linear-gradient(
    43deg,
    #153239 10%,
    #153239 46%,
    #318683 100%
  );
  overflow: hidden;
}

.firstLeftContainer {
  height: 100%;
  width: 53%;
  padding: 100px 80px;
}
.white {
  color: white;
}
.yellow {
  color: #b8d200;
}

.firstLeftContainer_btn {
  height: 12%;
  width: 45%;
  border: none;
  border-radius: 4px;
  background-color: #1b7b4e;
  background-image: linear-gradient(
    43deg,
    #1b7b4e 10%,
    #1b7b4e 46%,
    #b8d200 100%
  );
}

.firstLeftContainer_btn:hover {
  background-color: #b8d200;
  background-image: linear-gradient(
    43deg,
    #b8d200 10%,
    #b8d200 46%,
    #1b7b4e 100%
  );
}

.rightLeftContainer {
  height: 100%;
  width: 47%;
  padding: 100px 0px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.rightLeftContainer img {
  height: 70%;
  width: 100%;
  position: absolute;
  right: -70px;
}

@media (min-width: 300px) and (max-width: 900px) {
  #firstContainer {
    flex-direction: column;
    padding: 0;
  }
  .firstLeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
  }
  .white,
  .yellow {
    font-size: 1rem;
  }

  .firstLeftContainer_btn {
    height: 40%;
    width: 80%;
    border: none;
    border-radius: 4px;
    background-color: #1b7b4e;
    background-image: linear-gradient(
      43deg,
      #1b7b4e 10%,
      #1b7b4e 46%,
      #b8d200 100%
    );
  }

  .rightLeftContainer {
    padding: 0;
    height: 50%;
    width: 100%;
    position: static;
    display: flex;
    justify-content: center;
  }
  .rightLeftContainer img {
    height: 100%;
    width: 100%;
    position: static;
  }
}

/* -------------------- */

#secondContainer {
  height: 35vh;
  width: 100wv;
  background-color: #eafcff;
  /* border: 3px solid black; */
  padding: 50px 100px;
  position: relative;
}

#secondContainer .leftComaImg {
  position: absolute;
  left: 130px;
  top: 50px;
}
.secondContainer-text-one {
  font-size: 2rem;
  position: absolute;
  left: 230px;
  top: 40px;
}
#secondContainer .rightComaImg {
  position: absolute;
  right: 130px;
  top: 100px;
}
.secondContainer-text-two {
  font-size: 2rem;
  position: absolute;
  left: 300px;
  top: 90px;
}

@media (min-width: 300px) and (max-width: 900px) {
  #secondContainer {
    height: 10vh;
    width: 100wv;
    /* border: 3px solid black; */
    /* padding: 50px 100px; */
    position: relative;
  }

  #secondContainer .leftComaImg {
    height: 10%;
    position: absolute;
    left: 15px;
    top: 30px;
  }
  .secondContainer-text-one {
    font-size: 0.6rem;
    position: absolute;
    left: 50px;
    top: 30px;
  }
  #secondContainer .rightComaImg {
    height: 10%;
    position: absolute;
    right: 15px;
    top: 50px;
  }
  .secondContainer-text-two {
    font-size: 0.6rem;
    position: absolute;
    left: 80px;
    top: 45px;
  }
}
/* -------------------------- */

.thirdContainer {
  height: 100vh;
  width: 100wv;
  /* border: 2px solid red; */
  background-color: #eafcff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerThirdContainer {
  height: 90%;
  width: 90%;
  border-radius: 8px;
  /* border: 2px solid red; */
  display: flex;
  background-color: white;
}

.leftThirdContainer {
  height: 100%;
  width: 65%;
  /* border: 1px solid black; */
  padding: 70px 50px;
}
.dash {
  height: 10px;
  width: 80px;
  background-color: #1b7b4e;
  background-image: linear-gradient(
    43deg,
    #1b7b4e 10%,
    #1b7b4e 26%,
    yellow 100%
  );
}

.thirdContainer-btn {
  background-color: white;
  border: none;
  color: #0a7350;
}

.rightThirtContainer {
  height: 100%;
  width: 35%;
  padding: 30px 0px;
  /* border: 1px solid black; */
}

.rightThirtContainer img {
  height: 90%;
  width: 90%;
}

@media (min-width: 300px) and (max-width: 900px) {
  .thirdContainer {
    height: 100vh;
    width: 100wv;
    /* border: 2px solid red; */
    background-color: #eafcff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .innerThirdContainer {
    height: 90%;
    width: 90%;
    border-radius: 8px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .leftThirdContainer {
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    padding: 0;
  }
  .leftThirdContainer p {
    font-size: 0.8rem;
  }
  .dash {
    height: 10px;
    width: 80px;
    background-color: #1b7b4e;
    background-image: linear-gradient(
      43deg,
      #1b7b4e 10%,
      #1b7b4e 26%,
      yellow 100%
    );
  }

  .thirdContainer-btn {
    background-color: white;
    border: none;
    color: #0a7350;
  }

  .rightThirtContainer {
    height: 50%;
    width: 100%;
    padding: 0;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rightThirtContainer img {
    height: 90%;
    width: 90%;
  }
}
/* ------------------- */

#fourthContainer {
  height: 30vh;
  width: 100wv;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eafcff;
}

/* -------------- */

.fifthContainer {
  height: 80vh;
  width: 100wv;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eafcff;
}

.innerFifthContainer {
  height: 90%;
  width: 30%;
  /* border: 2px solid black; */
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 900px) {
  .fifthContainer {
    height: 80vh;
    width: 100wv;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #eafcff;
  }

  .innerFifthContainer {
    height: 30%;
    width: 90%;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
  }
  .innerFifthContainer img {
    height: 15%;
    width: 40%;
  }
  .innerFifthContainer b,
  p {
    font-size: 0.6rem;
  }
}

/* ----------------- */

#sixthContainer {
  height: 180vh;
  width: 100wv;
  background-color: #153239;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCont {
  height: 80%;
  width: 95%;
  border-radius: 52px;
  background-image: url("https://docutrade.yodaplus.com/assets/img/process.svg");
  background-size: 100% 100%;
}

@media (min-width: 300px) and (max-width: 900px) {
  .imgCont {
    background-image: url("https://docutrade.yodaplus.com/assets/img/process-mobile.svg");
    background-size: 100% 100%;
  }
}

/* --------------------------- */

#seventhContainer {
  height: 40vh;
  width: 100wv;
  padding: 0px 150px;
  background-color: #eafcff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 900px) {
  #seventhContainer {
    padding: 0px;
  }
}

/* ----------------------------- */

.eighthContainer {
  height: 90vh;
  width: 100wv;
  background-color: #eafcff;
  display: flex;
  justify-content: space-around;
}

.btnContainer {
  height: 90%;
  width: 5%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSwipe {
  height: 7%;
  width: 50%;
  border-radius: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;
}
.btnSwipe:hover {
  background-color: #b8d200;
  background-image: linear-gradient(
    43deg,
    #b8d200 10%,
    #b8d200 46%,
    #1b7b4e 100%
  );
}
.contentContainer:hover {
  background-color: #b8d200;
  background-image: linear-gradient(
    43deg,
    #b8d200 10%,
    #b8d200 46%,
    #1b7b4e 100%
  );
}

.cardContainer {
  height: 80%;
  width: 26%;
  padding: 30px 30px;
  border: 2px solid #dff4f7;
  background-color: white;
  border-radius: 8px;
}

.cardContainer:hover {
  background-color: #153239;
  color: white;
}
.contentContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #dff4f7;
  border-radius: 8px;
}
.contentContainer:hover {
  background-color: #b8d200;
  background-image: linear-gradient(
    43deg,
    #b8d200 10%,
    #b8d200 46%,
    #1b7b4e 100%
  );
}

@media (min-width: 300px) and (max-width: 900px) {
  .cardContainer {
    padding: 10px 10px;
    font-size: 0.5rem;
  }
  .contentContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contentContainer img {
    height: 50%;
    width: 50%;
  }
  .contentContainer h5 {
    font-size: 0.6rem;
  }
}

/* -------------------- */

#ninthContainer {
  height: 100vh;
  width: 100wv;
  /* border: 2px solid red; */
  background-color: #153239;
  background-image: url("https://docutrade.yodaplus.com/assets/img/partnership-bg.png");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
}

.ninthLeftContainer {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ninthLeftContainer img {
  height: 70%;
  width: 70%;
}

.ninthRightContainer {
  height: 100%;
  width: 60%;
  color: white;
  padding: 50px 0px;
}

@media (min-width: 300px) and (max-width: 900px) {
  #ninthContainer {
    flex-direction: column;
  }
  .ninthLeftContainer {
    height: 40%;
    width: 100%;
  }
  .ninthRightContainer {
    height: 60%;
    width: 100%;
    padding: 30px;
  }
  .ninthRightContainer h1 {
    font-size: 1rem;
  }
  .ninthRightContainer h3 {
    font-size: 0.8rem;
  }
  .ninthRightContainer p {
    font-size: 0.7rem;
  }
}

/* ------------------- */

#tenthContainer {
  height: 50vh;
  width: 100wv;
  background-color: #eafcff;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------------- */

#eleventhContainer {
  height: 90vh;
  width: 100wv;
  /* border: 1px solid black; */
  background-color: #eafcff;
  display: flex;
}

.leftEleventhContainer {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.upper {
  height: 40%;
  width: 100%;
  /* border: 1px solid yellow; */
  padding: 50px 60px;
}
.lower {
  height: 40%;
  width: 100%;
  background-image: url("https://docutrade.yodaplus.com/assets/img/contact-bg.png");
  background-size: cover;
}

.rightEleventhContainer {
  height: 100%;
  width: 60%;
  padding: 50px 60px;
}

#submitBtn {
  height: 40px;
  width: 40%;
  border-radius: 4px;
  background-color: #1b7b4e;
  background-image: linear-gradient(
    43deg,
    #1b7b4e 10%,
    #1b7b4e 46%,
    #b8d200 100%
  );
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 900px) {
  #eleventhContainer {
    display: flex;
    flex-direction: column;
  }

  .leftEleventhContainer {
    height: 30%;
    width: 100%;
  }

  .rightEleventhContainer {
    height: 70%;
    width: 100%;
    padding: 10px 10px;
  }
}

/* -------------------- */

.footerContainer {
  height: 30vh;
  width: 100wv;
  background-color: #d6f3f8;
  text-align: center;
}

.footerTop {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* padding: 10px 50px; */
}

.firstFooterContainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstFooterContainer img {
  height: 95%;
  width: 80%;
}
.secondFooterContainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondFooterContainer img {
  height: 95%;
  width: 80%;
}
.thirdFooterContainer {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
}
.thirdFooterContainer ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.thirdFooterContainer ul li {
  list-style-type: none;
}

@media (min-width: 300px) and (max-width: 900px) {
  .footerTop {
    height: 50%;
    justify-content: center;
    /* padding: 10px 50px; */
  }

  .firstFooterContainer {
    width: 15%;
  }
  .firstFooterContainer img {
    height: 95%;
    width: 80%;
  }
  .secondFooterContainer {
    width: 15%;
  }
  .secondFooterContainer img {
    height: 95%;
    width: 80%;
  }
  .thirdFooterContainer {
    width: 50%;
  }
  .thirdFooterContainer ul {
    gap: 0px;
  }
  .thirdFooterContainer ul li {
    font-size: 0.5rem;
  }
}
